
#welcome, #form-login {text-align: center;}

.mdl-data-table {width: 100%;}
.mdl-data-table th {color:blue;text-align: center; }
.mdl-data-table td.mdl-data-table__cell--center {text-align: center;}

